#model-canvas {
    margin-left: 200px;
    margin-right: 200px;

}
#canvas-container {
    border: 1px solid #ffffff;
    border-radius: 15px;
    overflow: hidden; /* 원형을 넘어가는 부분을 숨김 */
    height: 100vh; /* 브라우저 세로 전체 */

}
#content-container {
    margin-top: 15px;
    margin-bottom: 200px;
    border: 1px solid #b0abab;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}
#content-description {
    font-weight: bold;
    padding-left: 5px;
}
#content {
    padding: 30px 10px;;
    font-size: 18px;
}
#readme {
    width: 100%;
    border: none;
    height: 1px;
    background-color: black;
}
#title {
    font-size: 30px;
    font-weight: bold;
}
#title-container {
    margin-top:30px;
}
#model-code {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 30px;
    font-size: 25px;
    font-weight: bold;

}
#code-container{
    display: flex;
    justify-content: flex-end;
}
#btn-code{
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 15px;

}